/*Color Scheme*/
/*20BF55 - Green*/
/*0B4F6C - Blue*/
/*01BAEF - Light Blue*/
/*FBFBFF - Off White*/
/*757575 - Dark Gray*/
body {
    margin: 0;
}

.card {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 20px 40px;
  padding: 15px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.credits {
    width: 1000px;
    margin: 100px auto 0;
    white-space: pre;
    text-align: center;
    font-size: 12px;
}
